#location {
    line-height: 48px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(155, 155, 155);
}
#icon {
    color: rgba(115, 93, 58);
}
#footer {
    background-color: rgba(36, 65, 38);
    height: 65px
}
#map {
    width: 100%;
    height: 400px;
}

.image-full-width {
    width: 100%;
}

.demo-card-wide.mdl-card {
    width: 100%;
}

